body {
    background-color: lightgray;
    font-family: "Times New Roman", serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#header-container {
    background-color: gray;
    border-radius: 0 0 15px 15px;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    position: relative;
}

#header-container h1 {
    font-family: "Times New Roman", serif;
    font-size: 38px;
    margin: 0;
    color: white;
}

#survey-container {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 550px;
    text-align: center;
}

#survey-container h1 {
    font-family: "Times New Roman", serif;
    font-size: 28px;
    margin: 0;
    padding-bottom: 5px;
}

#survey-container h4 {
    font-family: "Times New Roman", serif;
    margin-bottom: 10px;
}

#survey-form p, label, input[type="radio"], input[type="checkbox"] {
    text-align: left;
    display: block;
    width: auto;
    margin: 5px;
}

#survey-form p {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

label, input, select, textarea {
    font-family: "Times New Roman", serif;
    font-size: 12px;
    width: 100%;
    text-align: left;
}

input[type="text"], input[type="email"], input[type="number"], select, textarea {
    margin: 1px 0;
    padding: 5px;
    border-radius: 5px;
    border: 3px solid #ccc;
}

#submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#submit:hover {
    background-color: #45a049;
}
